@media(max-width:579px) {
    a.btn.btn-xl.spacing{
        margin-bottom: 20px;
        margin-right: 0px; 
    }
}

@media(max-width:991px) {
    .hidden-btn1 {
        display: none;
    }
}
.padded {
	padding-top: 10px;
}
.margined {
	padding-top: 10px;
}
.blue-heading{
	color: #4296CC;
	font-weight: bold;
}
section#carousel {
	padding: 0;
}
